/*IMPORTAR FUENTES*/
/*
@font-face {
    font-family: 'coolvetica';
    src: url(../fonts/coolvetica.ttf);
}
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');


<<<<<<< HEAD
/*********ESTILOS GENERALES***********/
=======
/*ESTILOS GENERALES*/
>>>>>>> 236603e4698b0b1aa8837d661d90165f8413d44e

/*Reset Css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color:rgb(240, 240, 240); 
}

<<<<<<< HEAD
h1{
    text-align: center;
}

/*HEADER*/
header{
    padding: 5px 100px;
    /* position: sticky; */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: #2366a7;
}


header div,
header nav{
    display: inline-block;
    vertical-align: middle;
}
header div{
    width: 15%;
}
header nav{
    width: 81%;
    text-align: right;
}

header div img {
    width: 100%;
}

=======
/*HEADER*/
>>>>>>> 236603e4698b0b1aa8837d661d90165f8413d44e
header nav ul{
    list-style-type: none;
}

<<<<<<< HEAD
header nav ul li {
    display: inline-block;
    position: relative;
}

header nav ul li a{
    text-decoration:none;
    color: white;
}

/*submenu*/

header nav ul li ul {
    position: absolute;
    display: none;
    background-color: #2366a7;
    padding: 5px 10px;
    text-align: left;
    margin: 0 0 0 -10px;
    border-radius: 4px;
}

header nav ul li ul li {
    display: block;
}

header nav ul li:hover ul {
    display:block;
}


=======
header nav ul li a{
    text-decoration:none;
}

>>>>>>> 236603e4698b0b1aa8837d661d90165f8413d44e

/*BANNER*/
#banner{
    height: 85vh;
    background-image: url('../img/fondo-banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    /*parallax*/
    background-attachment: fixed;
}


/*MAIN*/
<<<<<<< HEAD
.main {
    margin-top: 100px;
}
.ofertas{
    color: red;
    text-align: center;
    text-transform: uppercase;
=======
#ofertas{
    color: red;
    text-align: center;
    text-transform: uppercase;
    /* 
    color: rgba(255,0,0,0.1); 
    color: rgb(255,0,0);
    color: #7b71cd; 
    */
    /*
    text-align: center;
    text-transform: uppercase;
    */
>>>>>>> 236603e4698b0b1aa8837d661d90165f8413d44e
}

.card{
    background-color: rgb(255, 255, 255);
<<<<<<< HEAD
    /* position: sticky;
    top: 30px; */
    
}

#ofertas{
    margin: 0 100px;
}

.oferta{
    width: 300px;
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
}

.oferta img{
    width: 100%;
}

.oferta h2 {
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.oferta button{
    background-color: #2366a7;
    color: white;
    padding: 5px 20px;
    border: 1px solid #2366a7;
    border-radius: 5px;
    margin-bottom: 20px;
}

#ofertas .card ul {
    color: darkgrey;
    font-size: 16px;
    list-style-position: inside;
    margin-bottom: 20px;

    /* estilos de lista */
    /* list-style-type: none;
    list-style-type: square; */
    list-style-image: url(../img/comprobado.png);
}

#ofertas .card ul li{
    line-height: 1.5;
    text-align: left;
}

#ofertas .card p {
=======
    font-size: 20px;

}

.card ul {
    color: darkgrey;

    /* estilos de lista */
    list-style-type: none;
    list-style-type: square;
    list-style-image: url(../img/comprobado.png);
}

.card ul li{
    line-height: 1.5;
}

.card p {
>>>>>>> 236603e4698b0b1aa8837d661d90165f8413d44e
    text-decoration:line-through;
}

/*font*/
<<<<<<< HEAD
#ofertas .card h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

/*FOOTER*/
footer{
    background-color: black;
}
footer ol li a {
    color: white;
    text-decoration: none;
}


/**********CARRITO DE COMPRAS*********/
#carrito .contenedorProducto{
    padding: 20px 10px;
    width: 800px;
    margin: 10px auto;
}

#carrito .contenedorData,
#carrito .contenedorPrice,
#carrito .contenedorBotones,
#carrito .contenedorProducto img{
    display: inline-block;
    width: 190px;
    vertical-align: middle;
    padding: 0 10px;
}

#carrito .contenedorBotones .contenedorBotones__eliminar {
    background-color: rgb(219, 28, 28);
    color: white;
    padding: 5px 15px;
    border: 1px solid rgb(219, 28, 28);
    border-radius: 5px;
}

.cssAwesome {
    /* propiedades decorativas */
    border: solid 1px black;
    padding: 5px;
    display: inline-block;
    font-size: 32px;
    font-family: Arial;
     /* propiedades que hacen el "problema" */
    width: 100px;
    height: 110px;
    /* solucion */
    overflow: scroll;
}
=======
.card h3 {
    font-size: 24px;
    font-size: 1.5rem;
    font-size: 1.5em;
    /*
    font-weight: 400;
    font-style: italic;
    */
}


>>>>>>> 236603e4698b0b1aa8837d661d90165f8413d44e
